.fr {
    float: right;
}

ul.tit {
    width: 100%;
    height: 450px;
    float: left;
    overflow: hidden;
    background: #fff;
}

/*本例css*/
.classfi-bg {
    height: 50px;
    background: #6c6c6c;
}

.shop-classfiy{
    position: absolute;
    left: 50%;
    margin-left: -600px;
    z-index: 9;
}

/* 搜索 */
.search {
    float: right;
}

.search .input-group {
    width: 550px;
    margin-top: 6px;
    border: 2px solid #dc0616;
}

.search button.btn.btn-default.dropdown-toggle {
    width: 100%;
    border-radius: 0;
}

.search ul.dropdown-menu {
    margin-top: 3px;
}

.search ul.dropdown-menu li {
    text-align: center;
    background: #d4d4d4;
}

.search input:focus {
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}

.search .input-group-btn:last-child > .btn {
    width: 80px;
    color: #fff;
    border-radius: 0;
    background: #dc0616;
}

#nav{
    width: 190px;
    position: relative;
    top: 0;
    background: #4593FD;
    z-index: 1;
}

#nav .mod_cate_hd{
    height: 51px;
    line-height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    text-indent: 7px;
    padding-left: 13px;
    background-color: #333333;
    border-bottom: 2px solid #dc0616;
    font-family: "微软雅黑";
}

#nav .mod_cate,#nav .mod_cate2{
    padding-left: 20px;
    border-bottom: 1px solid #4b4b4b;
    background: #333333;
}

#nav .mod_cate h2,#nav .mod_cate2 h2{
    font-size: 14px;
    font-weight: normal;
    font-family: "微软雅黑";
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
}

#nav .mod_cate h2 a,#nav .mod_cate2 h2 a{
    color:#FFFFFF;
    padding-right:5px;
}

#nav .mod_cate a.hot_sub{
    background:#106AC0;
    font-size:12px;
    border-radius:9px;
    padding:0px 5px;
    margin-left:5px;
}

#nav .mod_cate_r{
    line-height:24px;
    font-style:normal;
    font-variant:normal;
}

#nav .mod_cate_r a{
    font-size:12px;
    color:#C2D9F8;
    padding-right:5px;
}

#nav .mod_cate2{
    background:none;
}

#nav .mod_cate2 a.yel{
    color:#fee602;
}

#nav .mod_subcate{
    display:none;
    width: 660px;
    height: 452px;
    border:2px solid #dc0616;
    background:#FFFFFF;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4);
    position:absolute;
    top: 49px;
    z-index:-1;
    left:188px;
    overflow:hidden;
}

#nav .mod_subcate_main{
    width: 100%;
    padding: 0px 20px;
    float:left;
}

#nav .mod_subcate_line{
    width:100%;
    height:1px;
    clear:both;
    font-size:0px;
    margin-bottom:5px;
    border-top:5px #fff solid;
    border-bottom:1px #dadada dotted;
    overflow:hidden;
    display:block;
}

#nav .mod_subcate_main dl{
    padding:7px 0 7px 65px;
    border-bottom:1px #e5e5e5 solid;
    overflow:hidden;
}

#nav .mod_subcate_main dl dt{
    width:65px;
    font-size:12px;
    color:#1d7ad9;
    line-height:22px;
    font-style:normal;
    font-variant:normal;
    font-weight:700;
    margin-left:-65px;
    float:left;
    font-size-adjust:none;
    font-stretch:normal;
}

#nav .mod_subcate_main dl dd{
    line-height:22px;
    overflow:hidden;
}

#nav .mod_subcate_main dl dd a{
    color:#666;
    font-size:12px;
    margin:0 5px 0 5px;
    float:left;
    display:inline;
    white-space:nowrap;
}

#nav .mod_subcate_main dl dd a.org{
    color:#ff7300;
}

#nav .mod_subcate_channel{
    clear:both;
    margin-top:15px;
}

#nav .mod_subcate_channel .mod_btn_arrow{
    height:26px;
    line-height:26px;
    font-size:12px;
    padding:0 10px 0 10px;
    margin-left:5px;
    text-decoration:none;
    color:#FFFFFF;
    background:#2785E6;
    cursor:pointer;
    display:inline-block;
}

#nav .mod_subcate_channel .mod_btn_arrow b{
    font-weight:normal;
    float:left;
}

#nav .arrow_dot {
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
    margin: 16px 4px 0 0px;
    border-left: 4px solid #FFFFFF;
}

#nav .mod_subcate_side{
    width:217px;
    padding-top:5px;
    padding-left:10px;
    padding-bottom:1000px;
    margin-bottom:-1000px;
    float:left;
}

#nav .on {
    padding-left: 18px;
    background:#FFFFFF;
    border-top: 2px solid #dc0616;
    border-left: 2px solid #dc0616;
    border-bottom: 2px solid #dc0616;
}

#nav .on:nth-child(1){
    border-top: 0;
}

#nav .on h2 a{
    color:#333333;
}

#nav .on .mod_subcate{
    display:block !important;   /* !important 强制显示，否则会闪烁*/
}

#nav .on .mod_cate_r a{
    color:#666666;
}

#nav .on a.hot_sub{
    color:#FFFFFF;
}

/*品牌*/
.mod_subcate_side_hd{
    height:30px;
    line-height:30px;
    padding-left:4px;
    color:#333333;
    font-size:14px;
    font-family:"微软雅黑";
}

.mod_subcate_side_brand{
    margin:5px 0 10px 4px;
}

.mod_subcate_side_brand li{
    border:1px #EEEEEE solid;
    margin:-1px 0 0 -1px;
    position:relative;
    float:left;
}

/*热门活动*/
.mod_subcate_side_hotlist{
    margin-left:4px;
}

.mod_subcate_side_hotlist li{
    height:20px;
    font-size:12px;
    color:#666666;
    overflow:hidden;
}

.mod_subcate_side_hotlist li a{
    color:#666666;
}

/*ad*/
.mod_subcate_gg{
    display:block;
    position:absolute;
    bottom:0;
    right:0;
}

/* 采购模版 - 用户登录 */
.pur-user-login, .purchase-cont {
    width: 300px;
    margin-top: 8px;
    background: #fff;
    border: 1px solid #ccc;
}

.pur-user-login .nav-cont-title {
    font-size: 16px;
    text-indent: 18px;
    font-weight: bold;
    padding: 10px 0;
    color: #dc0616;
    border-bottom: 1px solid #ccc;
}

.pur-user-login .input-group {
    width: 260px;
    margin: 15px auto 0 auto;
}

.glyphicon-pass {
    width: 14px;
    height: 19px;
    background: url("../images/password.png") no-repeat center 0;
}

.pur-user-login .input-group .btn-red {
    width: 100%;
    color: #fff;
    border-radius: 0;
    background: #dc0616;
}

.input-group a.reg {
    float: right;
    padding-bottom: 10px;
}

.input-group a.reg:hover {
    color: #dc0616;
}

.pur-user-login input:focus {
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}

/* 采购模版 - 采购动态 */
.purchase-cont .nav-cont-title {
    font-size: 16px;
    text-indent: 18px;
    font-weight: bold;
    padding: 10px 0;
    color: #dc0616;
    border-bottom: 1px solid #ccc;
}

.purchase-cont .nav-cont-title a {
    font-size: 24px;
    color: #dc0616;
    float: right;
    position: relative;
    right: 20px;
    bottom: 10px;
}

.purchase-cont .purchase-cont-list ul li {
    padding: 10px 20px;
}

.purchase-cont .purchase-cont-list a:hover {
    color: #dc0616
}

/* 幻灯片 */
.carousel-control {
    padding-top: 12%;
}

/* 分辨率 */
@media screen and (min-width: 1279px) and (max-width: 1359px) {
    ul.tit {
        height: 370px;
    }

    #nav .mod_subcate {
        height: 372px;
    }

    .pur-user-login, .purchase-cont {
        height: 192px;
        overflow: hidden;
    }

    .pur-user-login, .purchase-cont {
        width: 265px;
        height: 192px;
        overflow: hidden;
        margin-top: 7px;
    }

    .pur-user-login .input-group {
        width: 220px;
        margin: 5px auto 0 auto;
    }

    .purchase-cont .purchase-cont-list ul li {
        padding: 8px 20px;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1599px) {
    ul.tit {
        height: 411px;
    }

    #nav .mod_subcate {
        height: 413px;
    }

    .pur-user-login, .purchase-cont {
        width: 265px;
        margin-top: 7px;
    }

    .pur-user-login .input-group {
        width: 220px;
        margin: 5px auto 0 auto;
    }

    .purchase-cont .purchase-cont-list ul li {
        padding: 7px 20px;
    }
}

@media screen and (min-width: 1700px){
    ul.tit {
        height: 492px;
    }

    #nav .mod_subcate {
        height: 494px;
    }
}