/* ----------------------------------------------------------------
        定位
-----------------------------------------------------------------*/
.content .location {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.content .location font {
    float: left;
    font-size: 24px;
    border-left: 10px solid #dc0616;
    padding-left: 10px;
}

.content .location span {
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.content .location a {
    color: #000;
}

/* ----------------------------------------------------------------
        产品列表
-----------------------------------------------------------------*/
.content_product_list {
    width: 100%;
    display: inline-block;
}

.content .content_product_list ul {
    width: 1190px;
    list-style: none;
}

.content .content_product_list li {
    width: 220px;
    height: 380px;
    list-style: none;
    float: left;
    margin-right: 17px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #eee;
}

.content .content_product_list li:hover {
    border: 1px solid #dc0616;
}

.content .content_product_list .list-img {
    width: 220px;
    height: 210px;
}

.content .content_product_list img {
    width: 217px;
    height: 207px;
}

.content .content_product_list .list-cont p {
    margin-top: 10px;
    padding: 0 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.content .content_product_list .list-cont p:nth-child(1){
    font-size: 19px;
    font-weight: bold;
    color: #dc0616;
}

.content .content_product_list .list-cont p:nth-child(2) {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.content .content_product_list .list-cont p:nth-child(3) {
    color: #999;
}

.content .content_product_list .list-cont p:nth-child(4) {
    color: #999;
    text-align: right;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px dashed #eee;
}

/* ----------------------------------------------------------------
        产品详细页
-----------------------------------------------------------------*/
.preview {
    width: 430px;
    height: 500px;
    margin: 20px 0px 0px 20px;
}

/* smallImg */
.smallImg {
    position: relative;
    height: 52px;
    margin-top: 1px;
    background-color: #F1F0F0;
    padding: 6px 5px;
    width: 390px;
    overflow: hidden;
    float: left;
}

.scrollbutton {
    width: 14px;
    height: 50px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: pointer;
}

.scrollbutton.smallImgUp, .scrollbutton.smallImgUp.disabled {
    background: url(../image/d_08.png) no-repeat;
}

.scrollbutton.smallImgDown, .scrollbutton.smallImgDown.disabled {
    background: url(../image/d_09.png) no-repeat;
    margin-left: 375px;
    margin-top: -50px;
}

#imageMenu {
    height: 50px;
    width: 360px;
    overflow: hidden;
    margin-left: 0;
    float: left;
}

#imageMenu li {
    height: 50px;
    width: 60px;
    overflow: hidden;
    float: left;
    text-align: center;
}

#imageMenu li img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#imageMenu li#onlickImg img, #imageMenu li:hover img {
    width: 44px;
    height: 44px;
    border: 3px solid #959595;
}

/* bigImg */
.bigImg {
    position: relative;
    float: left;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.bigImg #midimg {
    width: 400px;
    height: 400px;
}

.bigImg #winSelector {
    width: 235px;
    height: 210px;
}

#winSelector {
    position: absolute;
    cursor: crosshair;
    filter: alpha(opacity=15);
    -moz-opacity: 0.15;
    opacity: 0.15;
    background-color: #000;
    border: 1px solid #fff;
}

/* bigView */
#bigView {
    position: absolute;
    border: 1px solid #959595;
    overflow: hidden;
    z-index: 999;
}

#bigView img {
    position: absolute;
}

.tabcon {
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 0;
}