/* 采购中心 */
.fr {
    float: right;
}

ul.tit {
    display: none;
    width: 100%;
    height: 450px;
    float: left;
    overflow: hidden;
    background: #fff;
}

/*本例css*/
.classfi-bg {
    height: 50px;
    background: #6c6c6c;
}

.shop-classfiy{
    position: absolute;
    left: 50%;
    margin-left: -600px;
    z-index: 9;
}

/* 搜索 */
.search {
    float: right;
}

.search .input-group {
    float: left;
    width: 550px;
    margin-top: 6px;
    border: 2px solid #dc0616;
}

.search button.btn.btn-default.dropdown-toggle {
    width: 100%;
    border-radius: 0;
}

.search ul.dropdown-menu {
    margin-top: 3px;
}

.search ul.dropdown-menu li {
    text-align: center;
    background: #d4d4d4;
}

.search input:focus {
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}

.search .input-group-btn:last-child > .btn {
    width: 80px;
    color: #fff;
    border-radius: 0;
    background: #dc0616;
}

#nav{
    width: 190px;
    position: relative;
    top: 0;
    background: #4593FD;
    z-index: 1;
}

#nav .mod_cate_hd{
    height: 51px;
    line-height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    text-indent: 7px;
    padding-left: 13px;
    background-color: #333333;
    border-bottom: 2px solid #dc0616;
    font-family: "微软雅黑";
}

#nav .mod_cate,#nav .mod_cate2{
    padding-left: 20px;
    border-bottom: 1px solid #4b4b4b;
    background: #333333;
}

#nav .mod_cate h2,#nav .mod_cate2 h2{
    font-size: 14px;
    font-weight: normal;
    font-family: "微软雅黑";
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
}

#nav .mod_cate h2 a,#nav .mod_cate2 h2 a{
    color:#FFFFFF;
    padding-right:5px;
}

#nav .mod_cate a.hot_sub{
    background:#106AC0;
    font-size:12px;
    border-radius:9px;
    padding:0px 5px;
    margin-left:5px;
}

#nav .mod_cate_r{
    line-height:24px;
    font-style:normal;
    font-variant:normal;
}

#nav .mod_cate_r a{
    font-size:12px;
    color:#C2D9F8;
    padding-right:5px;
}

#nav .mod_cate2{
    background:none;
}

#nav .mod_cate2 a.yel{
    color:#fee602;
}

#nav .mod_subcate{
    display:none;
    width: 660px;
    height: 452px;
    border:2px solid #dc0616;
    background:#FFFFFF;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4);
    position:absolute;
    top: 49px;
    z-index:-1;
    left:188px;
    overflow:hidden;
}

#nav .mod_subcate_main{
    width: 100%;
    padding: 0px 20px;
    float:left;
}

#nav .mod_subcate_line{
    width:100%;
    height:1px;
    clear:both;
    font-size:0px;
    margin-bottom:5px;
    border-top:5px #fff solid;
    border-bottom:1px #dadada dotted;
    overflow:hidden;
    display:block;
}

#nav .mod_subcate_main dl{
    padding:7px 0 7px 65px;
    border-bottom:1px #e5e5e5 solid;
    overflow:hidden;
}

#nav .mod_subcate_main dl dt{
    width:65px;
    font-size:12px;
    color:#1d7ad9;
    line-height:22px;
    font-style:normal;
    font-variant:normal;
    font-weight:700;
    margin-left:-65px;
    float:left;
    font-size-adjust:none;
    font-stretch:normal;
}

#nav .mod_subcate_main dl dd{
    line-height:22px;
    overflow:hidden;
}

#nav .mod_subcate_main dl dd a{
    color:#666;
    font-size:12px;
    margin:0 5px 0 5px;
    float:left;
    display:inline;
    white-space:nowrap;
}

#nav .mod_subcate_main dl dd a.org{
    color:#ff7300;
}

#nav .mod_subcate_channel{
    clear:both;
    margin-top:15px;
}

#nav .mod_subcate_channel .mod_btn_arrow{
    height:26px;
    line-height:26px;
    font-size:12px;
    padding:0 10px 0 10px;
    margin-left:5px;
    text-decoration:none;
    color:#FFFFFF;
    background:#2785E6;
    cursor:pointer;
    display:inline-block;
}

#nav .mod_subcate_channel .mod_btn_arrow b{
    font-weight:normal;
    float:left;
}

#nav .arrow_dot {
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
    margin: 16px 4px 0 0px;
    border-left: 4px solid #FFFFFF;
}

#nav .mod_subcate_side{
    width:217px;
    padding-top:5px;
    padding-left:10px;
    padding-bottom:1000px;
    margin-bottom:-1000px;
    float:left;
}

#nav .on {
    padding-left: 18px;
    background:#FFFFFF;
    border-top: 2px solid #dc0616;
    border-left: 2px solid #dc0616;
    border-bottom: 2px solid #dc0616;
}

#nav .on:nth-child(1){
    border-top: 0;
}

#nav .on h2 a{
    color:#333333;
}

#nav .on .mod_subcate{
    display:block !important;   /* !important 强制显示，否则会闪烁*/
}

#nav .on .mod_cate_r a{
    color:#666666;
}

#nav .on a.hot_sub{
    color:#FFFFFF;
}

/*品牌*/
.mod_subcate_side_hd{
    height:30px;
    line-height:30px;
    padding-left:4px;
    color:#333333;
    font-size:14px;
    font-family:"微软雅黑";
}

.mod_subcate_side_brand{
    margin:5px 0 10px 4px;
}

.mod_subcate_side_brand li{
    border:1px #EEEEEE solid;
    margin:-1px 0 0 -1px;
    position:relative;
    float:left;
}

/*热门活动*/
.mod_subcate_side_hotlist{
    margin-left:4px;
}

.mod_subcate_side_hotlist li{
    height:20px;
    font-size:12px;
    color:#666666;
    overflow:hidden;
}

.mod_subcate_side_hotlist li a{
    color:#666666;
}

/*ad*/
.mod_subcate_gg{
    display:block;
    position:absolute;
    bottom:0;
    right:0;
}

/* 发布采购按钮 */
.btn-caigou {
    margin-top: 6px;
    margin-left: 10px;
    width:118px;
    float: right;
    height: 37px;
    border-radius: 0;
    color:#666;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    background: #f5f5f5;
}

/* ----------------------------------------------------------------
        幻灯片
-----------------------------------------------------------------*/
.carousel-control {
    padding-top: 12%;
}

/* ----------------------------------------------------------------
        顶部列表头部
-----------------------------------------------------------------*/
/* 相关分类 */
.corre-classify {
    position: relative;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.corre-classify span {
    padding: 0 40px 0 20px;
}

.corre-classify a {
    margin-right: 20px;
}

.corre-classify a:hover {
    color: #dc0616;
}

/* 多项选择 */
.corre-nav {
    position: relative;
    line-height: 16px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.search form {
    float: left;
}

/* 下栏菜单选择 */
.corre-nav #navbar {
    float: right;
    position: absolute;
    padding-left: 190px;
    line-height: 30px;
    margin-top: 0;
}

.corre-nav .nav .open > a, .corre-nav .nav .open > a:hover {
    background: #dc0616;
    color: #fff;
    border-radius: 0;
}

.corre-nav .dropdown-menu {
    text-align: center;
    background: #fff;
}

.corre-nav .nav > li > a:hover, .corre-nav .nav > li > a:focus {
    background: #dc0616;
    color: #fff;
    border-radius: 0;
}

.corre-nav .dropdown-menu > li > a:hover, .corre-nav .dropdown-menu > li > a:focus {
    color: #fff;
    background: #333333;
}

.corre-nav .nav-pills > li.active > a, .corre-nav .nav-pills > li.active > a:hover, .corre-nav .nav-pills > li.active > a:focus {
    background: #dc0616;
}

/* 采购详细页 */
.m { margin-bottom: 10px; }
.m, .mt, .mc, .mb{ overflow: hidden; }

/* Clear Fix */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
/* Hide from IE Mac */
.clearfix{display:block;}
/* End hide from IE Mac */
/* end of clearfix */
/*页面全局结束*/
.tab{ overflow:hidden; }
.tab li,.tab a,.tab-item{cursor:pointer;float:left;text-align: center;}
.m, .mt, .mc, .mb{overflow:hidden;}
.mt .extra{float: right;}

/* 切换1 */
.right-extra .tab{border-bottom:2px solid #e21008;margin-bottom:10px;}
.right-extra .tab li{position:relative;height:32px;padding:5px 12px;overflow:hidden;margin-right:3px;line-height:24px;font-size:14px;font-weight:bold;color:#333;}
.right-extra .tab a{float:none;color:#c30;}
.right-extra .tab .curr{background:#e21008;color:#fff;border-radius:5px 5px 0 0;}
.right-extra .tab .curr a{color:#fff;}
.right-extra .mc .extra{padding:5px 10px;border-top:1px solid #F3E6C6;}
.right-extra .total{float:right;}
.right-extra .total strong{color:#FF7403;}
.right-extra .total a:link,.right-extra .total a:visited{color:#005aa0;}
.right-extra .join a:link,.right-extra .join a:visited{color:#FF7604;}

.right-extra .tabcon {
    padding-right: 0;
}

.right-extra .norecode{
    font-size: 16px;
    width: 100%;
    padding:0 10px 10px;
    margin: 0 auto;
}

.right-extra .norecode img,.right-extra .norecode p img {
    width: 100%;
    text-align: center;
}

/*切换2*/
#comment .item{border:1px solid #FFFFFF;padding:8px 15px;}

#comment .item:nth-child(even) {
    background: none repeat scroll 0 0 #F4F9FF;border: 1px solid #EDF0F1;border-radius:10px 10px 10px 10px;
}

#comment .user{color:#999999;}
#comment .user span{margin-right: 20px;margin-bottom: 10px;}
#comment .user .u-level{color:#088100;}
#comment dl{margin-bottom:5px;overflow:hidden;}
#comment dt{font-size: 16px;float:left;text-align:right;}
#comment dd{font-size: 16px;overflow:hidden;margin-left: 10px;}
#comment .content{font-size: 16px;}
#comment .date-answer{color:#999999;float:right;text-align:right;width:130px;}
#comment .useful{color:#999999;text-align:right;}
#comment .useful a{color: #005AA0;}
#comment dt b{background-image: url("../images/icon_clubs.gif");background-repeat: no-repeat;float:left;height:13px;margin:7px 3px 0 0;width:14px;}
#comment .ask b{background-position:-72px -14px;}
#comment .answer{color:#000;}
#comment .answer b{background-position:-57px -14px;}

/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.jqzoom img {width:100%;height:300px;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:350px;height:350px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

/*图片小图预览列表*/
.spec-preview{width:416px;height:300px;border:1px solid #DFDFDF;display: inline-block;}
.spec-scroll{clear:both;margin-top:5px;width:416px;}
.spec-scroll .prev{float:left;margin-right:4px;background: url("../images/d_08.png");}
.spec-scroll .next{float:right;background: url("../images/d_09.png")}
.spec-scroll .prev,.spec-scroll .next{display:block;font-family:'微软雅黑','Raleway', sans-serif;;text-align:center;width:14px;height:54px; line-height:54px;color:#000;cursor:pointer;text-decoration:none;}
.spec-scroll .items{float:left;position:relative;width:384px;height:56px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:999999px;height:56px;}
.spec-scroll .items ul li{float:left;width:64px;text-align:center;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;margin-top:2px;width:50px;height:50px;}
.spec-scroll .items ul li img:hover{border:2px solid #FF6600;padding:1px;}

/* 投标参数 */
.conY {
    margin-top: 20px;
}

.right-extra {
    margin-top: 30px;
    margin-bottom: 20px;
}

.tendcont {
    width: 100%;
    font-size: 16px;
    display: inline-block;
}

.tend-left {
    width: 416px;
    float: left;
    display: inline-block;
}

.tend-right {
    width: 725px;
    margin-left: 25px;
    float: left;
}

.tend-right p {
    font-size: 14px;
}

.tend-right .t-money font {
    color: red;
    font-size: 21px;
}

.tend-right .right-color {
    width: 70px;
    color: #999;
    font-size: 14px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}

.tend-right .right-tar .right-color {
    position: relative;
    top: 0;
    float: left;
}

.tend-right .right-tar textarea {
    border: 1px solid #ccc;
}

.tend-right a.btn-red {
    width: 150px;
    color: #fff;
    margin-top: 11px;
    margin-left: 75px;
    background: #dc0616;
}

.tend-right-right {
    width: 210px;
    float: right;
}

.tend-right-right .tend-border {
    border: 1px solid #ccc;
}

.tend-right-right .tend-border p {
    font-size: 14px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tend-right-right .tend-border .t-title {
    color: #000;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.tend-right-right .tend-border p:nth-child(2) {
    padding-top: 10px;
}

.tend-right-right .tend-border p:last-child {
    padding-bottom: 10px;
}

.tend-right-right .tend-border .right-color {
    width: 50px;
    color: #999;
    font-size: 14px;
    text-align: right;
    display: inline-block;
    margin-right: 5px;
}

.tend-border-btn {
    margin-top: 10px;
}

.tend-border-btn a:nth-child(2) {
    float: right;
}

/* 分辨率 */
@media screen and (min-width: 1279px) and (max-width: 1359px) {
    ul.tit {
        height: 370px;
    }

    #nav .mod_subcate {
        height: 372px;
    }

    .pur-user-login, .purchase-cont {
        height: 192px;
        overflow: hidden;
    }

    .pur-user-login, .purchase-cont {
        width: 265px;
        height: 192px;
        overflow: hidden;
        margin-top: 7px;
    }

    .pur-user-login .input-group {
        width: 220px;
        margin: 5px auto 0 auto;
    }

    .purchase-cont .purchase-cont-list ul li {
        padding: 8px 20px;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1599px) {
    ul.tit {
        height: 411px;
    }

    #nav .mod_subcate {
        height: 413px;
    }

    .pur-user-login, .purchase-cont {
        width: 265px;
        margin-top: 7px;
    }

    .pur-user-login .input-group {
        width: 220px;
        margin: 5px auto 0 auto;
    }

    .purchase-cont .purchase-cont-list ul li {
        padding: 7px 20px;
    }
}

@media screen and (min-width: 1700px){
    ul.tit {
        height: 492px;
    }

    #nav .mod_subcate {
        height: 494px;
    }
}