.row {
    margin-left: 0;
    margin-right: 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow:hidden;
}

/* ----------------------------------------------------------------
        产品列表
-----------------------------------------------------------------*/
.navbar-default {
    height: 75px;
}

/* logo */
.navbar-brand > img {
    width: 160px;
}

/* 搜索 */
.search {
    float: right;
    margin-top: 15px;
}

.search .input-group {
    width: 550px;
    margin-top: 6px;
    border: 2px solid #dc0616;
}

.search button.btn.btn-default.dropdown-toggle {
    width: 100%;
    border-radius: 0;
}

.search ul.dropdown-menu {
    margin-top: 3px;
}

.search ul.dropdown-menu li {
    text-align: center;
    background: #d4d4d4;
}

.search input:focus {
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}

.search .input-group-btn:last-child > .btn {
    width: 80px;
    color: #fff;
    border-radius: 0;
    background: #dc0616;
}

/* ----------------------------------------------------------------
        内容中心
-----------------------------------------------------------------*/
.dropdown-menu {
    background: #fff;
}

.navbar-default .nav-pills li.dropdown ul li a {
    color: #000;
}

/* 左边 */
.user-config .left {
    background: #e7e7e7;
    display: inline-block;
}

.user-config .left .user-cont h3 {
    padding: 15px 0px 10px 0px;
    text-align: center;
    margin: 0 auto;
}

.user-config .left .user-cont h3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
}

.user-config .left .user-cont p {
    text-align: center;
    color: #000;
    padding: 5px 10px;
    margin: 0;
}

.user-config .left .cat_list {
    padding-top: 15px;
    text-align: center;
}

.user-config .left .cat_list h3 {
    font-size: 14px;
    margin: 0;
    padding: 10px 0px;color: #fff;
    background: #dc0616;
}

.user-config .left .cat_list p {
    padding: 20px 0px 5px 0px;
    margin: 0;
}

.user-config .left .cat_list p a {
    color: #000;
}

.user-config .left .cat_list p a:hover {
    color: #dc0616;
}

.content .left .contact_us {
    margin-top: 0;
    padding: 15px 10px;
}

/* 右边 */
.content .right {
    width: 920px;
}

.content .right .col_full {
    padding-bottom: 30px;
    border: 1px solid #ccc;
}

.content .right .col_full .cont-title {
    font-size: 14px;
    padding: 12px 0px 10px 0px;
    color: #fff;
    background: #dc0616;
    margin: 0;
}

.content .right .col_full .cont-title span:nth-child(1){
    margin-left: 10px;
}

.content .right .col_full .cont-title span:nth-child(2){
    float: right;
    margin-right: 10px;
}

.content .right .col_full .cont-title span:nth-child(2) a {
    color: #fff;
}

.content .right .col_full .shop-cont {
    margin: 0;
    padding: 0;
}

.content .right .col_full .shop-cont .col-md-4 {
    margin-top: 30px;
}

.content .right .col_full .shop-cont .shop-img {
    margin: 0;
}

.content .right .col_full .shop-cont .shop-img img {
    width: 163px;
    height: 163px;
}

.content .right .col_full .shop-cont .shop-txt {
    font-size: 12px;
    padding: 5px 0px;
    border: 1px solid #ccc;
}

.content .right .col_full .shop-cont .shop-txt a {
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.content .right .col_full .shop-cont .shop-txt a:hover {
    color: #dc0616;
}

/* 右边 - 右边 */
.content .right .col_full .re-cont {
    margin: 0;
    padding: 0;
}

.content .right .col_full .re-cont .col-md-6 {
    margin-top: 30px;
}

.content .right .col_full .re-cont .re-img {
    margin: 0;
}

.content .right .col_full .re-cont .re-img img {
    width: 107px;
    height: 107px;
}

.content .right .col_full .re-cont .re-txt {
    font-size: 12px;
    padding: 5px 0px;
    border: 1px solid #ccc;
}

.content .right .col_full .re-cont .re-txt p {
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.content .right .col_full .re-cont .re-txt p a:hover {
    color: #dc0616;
}

/* ----------------------------------------------------------------
        安全设置
-----------------------------------------------------------------*/
.content .right .security-cont {
    border: 0px;
}

.security-cont .row {
    margin: 0;
    padding: 0;
    border: 1px solid #e3e3e3;
}

.security-cont .row .col_full {
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 20px 0px;
    float: left;
    border: 0px;
    border-bottom: 1px solid #e3e3e3;
}

.security-cont .row .col_full:last-child {
    border-bottom: 0px;
}

.security-cont .row .col_full .col-md-3 i {
    top: 4px;
    font-size: 25px;
    color: #dc0616;
    text-align: right;
}

.security-cont .row .col_full .col-md-3:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    top: 6px;
    border-right: 1px solid #e3e3e3;
}

.security-cont .row .col_full .col-md-3:nth-child(3), .security-cont .row .col_full .col-md-3:nth-child(4) {
    top: 10px;
}

/* ----------------------------------------------------------------
        修改个人资料
-----------------------------------------------------------------*/
.userdata-cont .row {
    margin: 0;
    padding: 0;
}

.userdata-cont .userdata-title {
    margin: 0;
    padding: 20px 0px;
    border-bottom: 1px solid #e3e3e3;
}

.userdata-cont .userdata-title .col-md-2 a {
    font-size: 16px;
    font-weight: bold;
    color: #bababa;
}

.userdata-cont .userdata-title .cur {
    font-size: 16px;
    font-weight: bold;
    color: #dc0616;
}

.userdata-cont form.form-horizontal {
    padding: 0 20px;
}

.userdata-cont form.form-horizontal .data-sele {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.userdata-cont form.form-horizontal .code-red {
    color: #fff;
    background: #dc0616;
    border: 1px solid #dc0616;
}

.userdata-cont form.form-horizontal .btn-red {
    width: 150px;
    color: #fff;
    margin-top: 5px;
    background: #dc0616;
}

/* ----------------------------------------------------------------
        足迹历史
-----------------------------------------------------------------*/
.history-cont .history-title {
    width: 100%;
    margin-top: 10px;
    float: left;
}

.history-cont .history-title .xtitle {
    float: left;
}

.history-cont .history-title .xtitle span {
    font-weight: bold;
    font-size: 24px;
}

.history-cont .history-title hr {
    position: relative;
    top: 3px;
    left: 3px;
}

.history-cont .conf {
    width: 1000px;
    margin-top: 10px;
}

.history-cont .conf .col-xs-3 {
    margin-bottom: 10px;
    width: 210px;
    height: 318px;
    border: 1px solid #ccc;
    margin-right: 13px;
    padding-left: 0;
    padding-right: 0;
}

.history-cont .conf .col-xs-3 h3 {
    margin: 10px auto;
    text-align: center;
}

.history-cont .conf .col-xs-3 h3 img {
    width: 188px;
    height: 188px;
}

.history-cont .conf .history-txt {
    font-size: 12px;
}

.history-cont .conf .history-txt p {
    margin: 0;
    padding: 0 10px;
}

.history-cont .conf .history-txt p:last-child {
    padding: 20px 0;
    text-align: center;
}

.history-cont .conf .history-txt p a {
    padding: 3px 25px;
    border: 1px solid #ccc;
    color: #dc0616;
}

/**/
.proview-cont .navbar-default {
    background-color: #fff;
    margin: 0;
    border: 0px;
    height: 51px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

