.row {
    margin-left: 0;
    margin-right: 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow:hidden;
}

/* ----------------------------------------------------------------
        产品列表
-----------------------------------------------------------------*/
.navbar-default {
    height: 75px;
}

/* logo */
.navbar-brand > img {
    width: 160px;
}

/* 搜索 */
.search {
    float: right;
    margin-top: 15px;
}

.search .input-group {
    width: 457px;
    margin-top: 6px;
    border: 2px solid #dc0616;
}

.search button.btn.btn-default.dropdown-toggle {
    width: 100%;
    border-radius: 0;
}

.search ul.dropdown-menu {
    margin-top: 3px;
}

.search ul.dropdown-menu li {
    text-align: center;
    background: #d4d4d4;
}

.search input:focus {
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}

.search .input-group-btn:last-child > .btn {
    width: 80px;
    color: #fff;
    border-radius: 0;
    background: #dc0616;
}

/* ----------------------------------------------------------------
        内容中心
-----------------------------------------------------------------*/
.dropdown-menu {
    /*background: #fff;*/
}

.navbar-default .nav-pills li.dropdown ul li a {
    color: #fff;
}

.user-config {
    background: #f0f1f2;
}

/* 左边框架 */
.user-config .left {
    display: inline-block;
}

/* 左边头像 */
.user-config .user-left-cont {
    margin-bottom: 20px;
    padding-bottom: 10px;
    background: #fff;
}

.user-config .user-left-cont h3 {
    padding: 15px 0px 10px 0px;
    text-align: center;
    margin: 0 auto;
}

.user-config .user-left-cont h3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
}

.user-config .user-left-cont p {
    text-align: center;
    color: #000;
    padding: 5px 10px;
    margin: 0;
}

/* 左边菜单栏目 */
.user-left-list {
}

.user-left-list .navbar-nav {
    width: 100%;
}

.user-left-list .navbar-nav li {
    width: 100%;
}

.user-left-list .navbar-nav li a {
    color: #fff;
}

.user-left-list .navbar-nav .dropdown-toggle {
    background: #dc0616;
}

.user-left-list .navbar-nav .dropdown-menu {
    position: relative;
    background: #fff;
}

.user-left-list .navbar-nav .dropdown-menu li.active a {
    background: #fff;
    border-left: 3px solid #dc0616;
}

.user-left-list .navbar-nav .dropdown-menu li.active a:hover {
    background: #e8e8e8;
}

.user-left-list .navbar-nav .dropdown-menu a {
    color: #000;
    padding: 10px 15px;
    margin: 10px 0;
}

.user-left-list .nav .open > a, .user-left-list .nav .open > a:hover, .user-left-list .nav .open > a:focus {
    background: #dc0616;
}

.user-left-list .dropdown a .caret {
    position: absolute;
    top: 22px;
    right: 18px;
}

/* 左边信息栏目 */
.user-left-contact {
    display: inline-block;
    margin-top: 20px;
}

.user-left-contact .user-left-contactUs {
    list-style: none;
    background-color: #fafafa;
    line-height: 30px;
    padding: 10px;
}

.user-left-contact .user-left-contactUs li {
    font-size: 12px;
    border-bottom: 1px solid #ffffff;
}

/* 右边 */
.content .right {
    width: 920px;
}

.content .right .user-box {
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    display: inline-block;
}

.content .right .user-box .cont-title {
    font-size: 14px;
    padding: 10px 10px 10px 30px;
    color: #fff;
    background: #dc0616;
    margin: 0;
}

.content .right .user-box .cont-title .more {
    color: #fff;
    float: right;
}

.content .right .user-box .cont-title .more a {
    color: #fff;
}

.content .right .user-box .user-box-cont {
    margin: 0;
    padding: 30px 20px 0 20px;
    display: inline-block;
}

.content .right .user-box .user-box-cont .user-box-item {
    width: 189px;
    float: left;
    margin: 0 30px 30px 0;
}

.content .right .user-box .user-box-cont .user-box-item:nth-child(4),.content .right .user-box .user-box-cont .user-box-item:nth-child(8) {
    margin-right: 0;
}

.content .right .user-box .user-box-cont .shop-img {
    margin: 0;
}

.content .right .user-box .user-box-cont .shop-img img {
    width: 189px;
    height: 189px;
}

.content .right .user-box .user-box-cont .shop-txt {
    font-size: 12px;
    padding: 5px 0px;
    border: 1px solid #ccc;
}

.content .right .user-box .user-box-cont .shop-txt a {
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.content .right .user-box .user-box-cont .shop-txt a:hover {
    color: #dc0616;
}

/* ----------------------------------------------------------------
        发布,编辑
-----------------------------------------------------------------*/
.right .user-title {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px 15px 10px;
    background: #fff;
}

.right .user-title .tle-txt {
    height: 37px;
    line-height: 37px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 0 15px;
    background: #ff534d;
}

.right .user-title .tle-img {
    width: 39px;
    height: 37px;
    float: left;
    background: url(../images/jtr.gif) no-repeat;
}

.right .attention-information {
    margin-left: 16px;
    margin-top: 20px;
}

.right .attention-information font {
    color: #02a2aa;
    font-weight: bold;
}

.edit-cont {
    font-size: 12px;
    margin-top: 10px;
    padding: 20px 10px;
}

.edit-cont .sm-form-control {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 3px !important;
}

.edit-cont .textarea-font {
    color: #aaa;
}

.edit-cont .input-code {
    width: 200px;
}

.edit-cont .form-horizontal .control-label {
    text-align: left;
}

.edit-cont .form-horizontal .form-control {
    border-radius: 0;
}

/* ----------------------------------------------------------------
        安全设置
-----------------------------------------------------------------*/
.content .right .security-cont {
    border: 0px;
}

.security-cont .row {
    margin: 0;
    padding: 0;
    border: 1px solid #e3e3e3;
}

.security-cont .row .col_full {
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 20px 0px;
    float: left;
    border: 0px;
    border-bottom: 1px solid #e3e3e3;
}

.security-cont .row .col_full:last-child {
    border-bottom: 0px;
}

.security-cont .row .col_full .col-md-3 i {
    top: 4px;
    font-size: 25px;
    color: #dc0616;
    text-align: right;
}

.security-cont .row .col_full .col-md-3:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    top: 6px;
    border-right: 1px solid #e3e3e3;
}

.security-cont .row .col_full .col-md-3:nth-child(3), .security-cont .row .col_full .col-md-3:nth-child(4) {
    top: 10px;
}

/* ----------------------------------------------------------------
        修改个人资料
-----------------------------------------------------------------*/
.userdata-cont .row {
    margin: 0;
    padding: 0;
}

.userdata-cont form.form-horizontal {
    padding: 0 20px;
}

.userdata-cont form.form-horizontal .data-sele {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.userdata-cont form.form-horizontal .code-red {
    color: #fff;
    background: #dc0616;
    border: 1px solid #dc0616;
}

.userdata-cont form.form-horizontal .btn-red {
    width: 150px;
    color: #fff;
    margin-top: 5px;
    background: #dc0616;
}

/* ----------------------------------------------------------------
        足迹历史
-----------------------------------------------------------------*/
.history-cont .history-title {
    width: 100%;
    margin-top: 10px;
    float: left;
}

.history-cont .history-title .xtitle {
    float: left;
}

.history-cont .history-title .xtitle span {
    font-weight: bold;
    font-size: 24px;
}

.history-cont .history-title hr {
    position: relative;
    top: 3px;
    left: 3px;
}

.history-cont .conf {
    width: 1000px;
    margin-top: 10px;
}

.history-cont .conf .col-xs-3 {
    margin-bottom: 10px;
    width: 210px;
    height: 318px;
    border: 1px solid #ccc;
    margin-right: 13px;
    padding-left: 0;
    padding-right: 0;
}

.history-cont .conf .col-xs-3 h3 {
    margin: 10px auto;
    text-align: center;
}

.history-cont .conf .col-xs-3 h3 img {
    width: 188px;
    height: 188px;
}

.history-cont .conf .history-txt {
    font-size: 12px;
}

.history-cont .conf .history-txt p {
    margin: 0;
    padding: 0 10px;
}

.history-cont .conf .history-txt p:last-child {
    padding: 20px 0;
    text-align: center;
}

.history-cont .conf .history-txt p a {
    padding: 3px 25px;
    border: 1px solid #ccc;
    color: #dc0616;
}

/* ----------------------------------------------------------------
        产品列表
-----------------------------------------------------------------*/
.proview-cont .navbar-default {
    background-color: #fff;
    margin: 0;
    border: 0px;
    height: 51px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.proview-cont .search-box {
    font-size: 12px;
    margin: 0;
    padding: 20px 20px;
}

.search-box .navbar-form {
    padding-left: 0px;
    padding-right: 0px;
}

.search-box .navbar-form .form-group {
    float: left;
    margin-right: 10px;
}

.search-box .navbar-form .form-group input.form-control {
    width: 400px;
}

/* ----------------------------------------------------------------
        表格样式
-----------------------------------------------------------------*/
.table-style tbody tr td {
    line-height: 34px;
}